# Django settings
DJANGO_SECRET_KEY='your-secret'
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS='127.0.0.1, localhost, backend, ..., ...'
USE_SQLITE=True  # True — SQLite, False — PostgreSQL

# DB settings
POSTGRES_DB='PDB'
POSTGRES_USER='postgres_user'
POSTGRES_PASSWORD='db_pass'
DB_HOST=db
DB_PORT=5432
