# Django settings
DJANGO_SECRET_KEY = 'real-secret'
DJANGO_DEBUG = False
DJANGO_ALLOWED_HOSTS = '127.0.0.1, localhost, backend, <server_ip>, <server_host_name>'
USE_SQLITE = False

# DB settings
POSTGRES_DB = 'foodgram'
POSTGRES_USER = 'foodgram_user'
POSTGRES_PASSWORD = 'foodgram_password'
DB_HOST = 'db'
DB_PORT = 5432
